body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
    text-shadow: 5px 5px 7px #08090c;
}

h1{
    text-align: center;
    padding: 2%;
    margin: 0px;
    font-size: 50px;
    margin: 1em auto;
    margin-bottom: -2em;
}

.contenedor-pag-principal{
    display: flex; /* se necesita de un contentedor para que sus items se puedan mover*/
    align-items: center; /*pone los items al centro*/
    position: absolute; /*se coloca en sobre el contenedor por que es flex */
    flex-direction: column;
    top:40%; 
    left:43%; /* alineados al medio de la pantalla*/  
}

.campo-nueva-palabra{
    width: 14em;
    height: 2em;
    padding: 6px;
    font-size: 13px;
    text-align: center;
    border-radius: 20px;
    border: 1px #000000 solid;
}

.boton-iniciar{
    background: rgb(41, 146, 231);
    border-radius: 10px;
    font-weight: bold;
    font-size: 20px;
    width: 200px;
    height: 60px;
    margin: 1em;
    justify-content: center;
    border: 0px;
    transition: 0.1s;
    cursor: pointer;
    box-shadow: 5px 5px 7px #08090c;
}

.boton-iniciar:hover{
    background: rgb(5, 62, 109);
    transform: scale(1.1);
}

.boton-iniciar:active{
    background: rgb(41, 146, 231);
    transform: scale(1);
}

.div-texto{
    display: none;
    position: absolute;
    flex-direction: column; /*pone en columna los items que estan dentro del div flex*/
    top: 80%; 
    left:43%;
    align-items: center;
}

.campo-texto{
    width: 60px;
    height: 30px;
    margin: 1em;
    text-align: center;
    text-transform: uppercase;
    border-radius: 8px;
    border: 1px #000000 solid;
}

#boton-jugar-nuevamente{
    position: absolute;
    top:67%; 
    left:44%;
    border: 0;
    width: 200px;
    height: 40px;
    font-size: 20px;
    background: rgb(41, 146, 231);
    border-radius: 10px;
    cursor: pointer;
    display: none;
    transition: 0.1s;
    box-shadow: 5px 5px 7px #08090c;
}

#boton-jugar-nuevamente:hover{
    background: rgb(5, 62, 109);
    transform: scale(1.1);
}

#boton-jugar-nuevamente:active{
    background: rgb(41, 146, 231);
    transform: scale(1);
}

.div-texto button{
    border: 0;
    width: 200px;
    height: 40px;
    font-size: 20px;
    background: rgb(41, 146, 231);
    border-radius: 10px;
    cursor: pointer;
    transition: 0.1s;
    box-shadow: 5px 5px 7px #08090c;
}

.div-texto button:hover{
    background: rgb(5, 62, 109);
    transform: scale(1.1);
}

.div-texto button:active{
    background: rgb(41, 146, 231);
    transform: scale(1);
}

.canvas{
    margin: auto;
    width: 1200px /* se crea el contenedor, se pone el mismo ancho del vancas y ahora se puede mover sus margenes*/
}

footer p{
    background: url(./textura-oscura-acuarela_125540-769.jpg);
    text-align: center;
    padding: 3% 0 3% ;
    font-size: 20px;
    color: white;
    margin: 0px;
}

@media screen and (max-width:480px){

    h1{
        text-align: center;
        padding: 1em;
        font-size: 50px;
        max-width: 50%;
        margin: 20px auto;
    }
    
    .contenedor-pag-principal {
        display: flex;
        align-items: center;
        position: absolute;
        flex-direction: column;
        top: 50%;
        left: auto;
        margin: 2em 25%;
    }

    .div-texto{
        top: 510px;
        left: 25%;
    }

    #boton-nuevo-juego{
        top: 60%;
        left: 33%
    }

    #boton-jugar-nuevamente{
        top: 60%;
        left: 33%
    }

    .canvas, #horca{
        width: 326px;
        margin-bottom: 5em;
    }

    footer p{
        padding: 4em 0 4em;
        margin: 0px;
        font-size: 15px;
    }
}   
